@import "~taro-ui/dist/style/index.scss";

.load-more {
  padding: 40px 0;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__text {
    font-size: 24px;
    color: #999;
  }

  &--no-more {
    padding: 20px 40px;
  }
}
